// GENERAL

@import "~bootstrap/scss/bootstrap";

* {
    font-family: "Bangers";
}

// HEADER

.nav {
    height: 10vh;
    .logo img {
        width: 100%;
    }
    .voices ul {
        font-size: 0.8rem;
        gap: 0.5rem;
    }
}

a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    &:hover {
        cursor: pointer;
        color: blue;
    }
}

// MAIN

main {
    background-color: #1c1c1c;
    .heroes {
        height: 40vh;
        background-image: url("../img/jumbotron.png");
        background-size: cover;
    }

    .container {
        max-width: 1000px;
        margin-inline: auto;
        .current {
            padding: 0.8rem 2rem;
            color: white;
            background-color: #0282f9;
            &:hover {
                color: black;
                cursor: pointer;
            }
        }
    }
    .comics {
        gap: 1rem;
        padding-top: 2rem;
    }
    .more {
        .button {
            color: black;
            background-color: #0282f9;
            margin-top: 1.2rem;
            margin-bottom: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-inline: 2rem;
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}

.card {
    width: calc((100% - 5rem) / 6);
    background-color: #1c1c1c;
    &:hover {
        cursor: pointer;
    }
    .comic-description {
        color: white;
        &:hover {
            color: grey;
        }
    }
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

h5 {
    color: grey;
    &:hover {
        color: white;
    }
}

.images {
    color: white;
    background-color: #0282f9;
    height: 20vh;
    img {
        width: 50px;
        height: 60px;
    }
    .mini-card {
        span {
            padding-left: 1rem;
        }
    }
}

// FOOTER

span {
    color: white;
}

li {
    list-style: none;
    font-size: 0.9rem;
    color: grey;
    &:hover {
        cursor: pointer;
        color: white;
    }
}

button {
    background-color: #303030;
    padding: 0.5rem;
    border-color: blue;
    &:hover {
        cursor: pointer;
    }
}

.first {
    color: white;
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 0.8rem;
}

.footer {
    height: 55vh;
    .footer-top {
        height: 55vh;
        background-image: url("../img/favicon.ico");
        .link {
            align-items: top;
            color: white;
            width: 60%;
            height: 45vh;
        }
        .logo {
            width: 40%;
        }
        .logo img {
            width: 50%;
            object-fit: contain;
            object-position: center;
        }
    }
    .footer-bottom {
        height: 10vh;
        background-color: #303030;
        .social {
            gap: 0.5rem;
            .follow {
                color: #0282f9;
            }
            img {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
